<div class="row mt-3">
  <div class="col col-md">
    <h1 class ="display-4 text-center"><%= t('.my_badges') %></h1>
    <table class="table table-hover text-center mt-3">
      <thead>
        <tr>
          <th scope="col"><%= t('.title') %></th>
          <th scope="col"><%= t('.image') %></th>
        </tr>
      </thead>

      <tbody>
        <%= render @user_badges %>
      <tbody>
    </table>

    <%= link_to t('.back'), tests_path %>
  </div>
</div>
