<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p>
  <% if @test_passage.done? %>
    <%= t('.test_passed') %>:<span class="done"> <%= @test_passage.correct_percent %><%="%"%></span>
  <% else %>
    <%= t('.test_failed') %>:<span class="failed"> <%= @test_passage.correct_percent %><%="%"%></span>
  <% end %>  
</p>

<p><%= link_to t('.back_to_tests'), tests_path %></p>
