<h1><p class="text-center"><%= t('tests.index.header') %></p></h1>

<table class="table">
  <thead>
    <tr>  
      <th class="sort-by-title pointer"> 
        <%= t('tests.index.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th scope="col"><%= t('tests.index.level') %></th>
      <th scope="col"><%= t('tests.index.questions') %></th>
      <th scope="col"><%= t('tests.index.actions') %></th>
    </tr>
  </thead>

  <%= render @tests %>

</table>  
