<footer>
  <p><%= t('.year') %>: <%= current_year %></p>
  <p><%= t('.author') %>: Olga Pashkova</p>
  <p><%= github_url('OlyaPash', 'TestGuru') %></p>
  <p><%= t('.about') %></p>
  <p><%= t('.thinknetica') %> <a target="_blank" href="https://thinknetica.com/">Thinknetica</a></p>
</footer>
